<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>FirstBank is Undergoing Maintenance</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">FirstBank is currently undergoing maintenance and will return shortly.</p>
        </LayoutView>
    </NotFound>
</Router>
